
<main *ngIf="isLoading">loading ...</main>
<main *ngIf="!isLoading && errorMessage === ''">
    <h1 *ngIf="recipeInfo.strMeal" class="recipe_name">{{recipeInfo.strMeal}}</h1>
    <img [src]="recipeInfo.strMealThumb" alt="" class="recipe_img">

    <div class="recipe_info">
        <p>Meal category: {{recipeInfo.strCategory}}</p>
        <p>Meal Area: {{recipeInfo.strArea}}</p>
    </div>
    <div class="ingredient">
        <h2>Ingredients</h2>
        <span *ngFor="let ingredient of ingredients">{{ingredient}} |</span>
    </div>
    
    <div class="instraction">
        <h2>Instruction</h2>
        {{recipeInfo.strInstructions}}
    </div>
    
    <div>
        <a [href]="recipeInfo.strYoutube" target="_blank">View it on youtube</a>
    </div>

</main> 
<div *ngIf="errorMessage">{{errorMessage}}</div>
<section>
    <a [routerLink]="['/']" class="text-2xlinline-block bg-slate-500 py-2 px-3 rounded">
        Back
    </a>
</section>

<!-- Workion on optimazing photos -->



