main{
    min-height: 100vh;
    background-size: cover;
    position: relative;
}
.background_img{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -3;
    width: 100%;

}


@media screen and (max-width: 600px) {
    h2{
        padding-top: 0.5rem !important;
        padding-bottom: 0rem !important;
        font-size: 1.4rem !important;
    }
}

@media screen and (max-width: 300px) {
    h2{
        margin: 0rem !important;
        margin-bottom: 0rem !important;
    }
}