main{
    min-height: 100vh;
    background-size: cover;
    position: relative;
}
.background_img{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: -3;
    width: 100%;

}