<nav class="flex flex-col gap-2 justify-center items-center">
    <form action="" class="my-3 w-4/5 rounded-md" (submit)="$event.preventDefault(); searchByName()">
        <input type="text" class="inline-block w-4/5 p-2 border" placeholder="Search recipe"  
        [(ngModel)] = "recipe" name="recipe" required>
        <button class="text-center p-2 bg-slate-500 w-1/5 search" type="submit">Search</button>
        <button class="text-center p-2 bg-slate-500 w-1/5 search-icon" type="submit"> 
            <mat-icon class="mat-icon">find_replace</mat-icon> 
        </button>
    </form>
  
    <div class="flex bg-slate-300 w-4/5 justify-between bg-opacity-50 gap category-container">
        <span (click)="onCategory($event, 'Dessert')" #category class="category">Dessert</span>
        <span (click)="onCategory($event, 'Seafood')" #category class="category">Seafood</span>
        <span (click)="onCategory($event, 'Starter')" #category class="category">Starter</span>
        <span (click)="onCategory($event, 'Vegetarian')" #category class="category">Vegetarian</span>
        <span (click)="onCategory($event, 'Beef')" #category class="category">Beef</span>
    </div>
    <div class="select-container">
        <label for="category">Search by category</label>
        <select name="" id="category" (change)="this.handleSelect($event)">
            <option value=""></option>
            <option value="Dessert">Dessert</option>
            <option value="Seafood">Seafood</option>
            <option value="Starter">Starter</option>
            <option value="Vegetarian">Vegetarian</option>
            <option value="Beef">Beef</option>
        </select>
    </div> 
    
</nav>